In [1]:
import pandas as pd
import numpy as np


from sklearn.metrics.pairwise import pairwise_distances

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import pairwise_distances

import pickle
import random

### 파일 불러오기

In [2]:
cc = ['user', 'title', 'rate']
df = pd.read_csv('watchaFinal0220.csv', encoding = 'utf-8-sig', sep = '\t', names = cc)

In [3]:
df02 = df.copy()

In [4]:
%%time
# 10개 이하의 평가를 받은 도서를 제거한 새로운 데이터프레임 생성
def refining_df(df02):

    title_number_df = df02.groupby('title').count().sort_values('user')
    title_under_10 = title_number_df[title_number_df.user <= 10]
    title_under_10_list = list(title_under_10.index)

    for title in title_under_10_list:
        df02 = df02[df02['title'] != title]

    return df02

df02 = refining_df(df02)
new_df = df02.reset_index(drop=True)

Wall time: 4min 27s

In [5]:
df02 = new_df.copy()
df02.head()

       user                   title  rate
0  encore01                     완득이   4.0
1  encore01  스물아홉 생일, 1년 후 죽기로 결심했다   5.0
2  encore01                   청소부 밥   5.0
3  encore01                   말의 품격   5.0
4  encore01             예감은 틀리지 않는다   4.0

In [6]:
def execute_labeling(column_name):
    Lec = LabelEncoder()
    df_copy = df02.copy()
    df_label = pd.DataFrame(Lec.fit_transform(df_copy[column_name].values), columns = [column_name+'_label'])
    return df_label

df_user = execute_labeling('user')
df_title = execute_labeling('title')

print(len(df_user['user_label'].value_counts()))
print(len(df_title['title_label'].value_counts()))

df_copy = df02.copy()    # copy df
df_copy = df_copy.drop(df_copy.columns[[0, 1]], axis = 1)    # delete 'user', 'title' columns
df_label = pd.concat([df_user, df_title, df_copy], axis = 1)    # 라벨링한 컬럼과 기존 데이터프레임 합치기

df_label.tail(5)

435
1087

       user_label  title_label  rate
31745         434          798   3.5
31746         434          525   4.0
31747         434          117   5.0
31748         434            3   5.0
31749         434          901   5.0

### Utility Matrix 만들기

In [7]:
book_list = list(df02['user'].unique())
book_list = sorted(book_list, key=str)
df_matrix = pd.DataFrame(columns = ['title'] + book_list)
df_matrix    #결과확인

Empty DataFrame
Columns: [title, encore01, encore02, encore03, encore04, encore05, encore06, encore08, encore09, encore10, encore11, encore12, encore13, encore14, encore15, encore16, encore17, encore18, encore19, encore21, encore22, encore24, encore26, encore29, encore30, encore32, encore36, encore37, encore38, encore40, encore41, encore77, master01, master02, master03, master04, unknown001, unknown002, unknown003, unknown004, unknown005, unknown006, unknown007, unknown008, unknown009, unknown010, unknown011, unknown012, unknown013, unknown014, unknown015, unknown016, unknown017, unknown018, unknown019, unknown020, unknown021, unknown022, unknown023, unknown024, unknown025, unknown026, unknown027, unknown028, unknown029, unknown030, unknown031, unknown032, unknown033, unknown034, unknown035, unknown036, unknown037, unknown038, unknown039, unknown040, unknown041, unknown042, unknown043, unknown044, unknown045, unknown046, unknown047, unknown048, unknown049, unknown050, unknown051, unknown052, unknown053, unknown054, unknown055, unknown056, unknown057, unknown058, unknown059, unknown060, unknown061, unknown062, unknown063, unknown064, ...]
Index: []

[0 rows x 436 columns]

In [8]:
%%time

user_num = len(df_label.user_label.unique()) # 35
book_num = len(df_label.title_label.unique()) # 1009

user_score_list = []    # df_matrix에서 'user' 컬럼을 제외한 컬럼. 즉, title 컬럼
for num in range(0, book_num):
    
    user_score_list = [0 for i in range(user_num)]   # 값을 0으로 초기화
    df_tmp = df_label[df_label['title_label'] == num]    # 각 유저별로 묶는다
    for j in df_tmp.index:
        intL = int(df_tmp.ix[j]['user_label']-1)
        user_score_list[intL] = df_tmp.ix[j]['rate']
        #print(user_score_list)
    
    df_matrix.loc[num] = [num] + user_score_list 
    #df_tmp.ix[]['score']
    #user_score_list[df_tmp.ix[j]['title_label']-1]

C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

Wall time: 29.7 s

In [9]:
df_matrix.head()

,title,encore01,encore02,encore03,encore04,encore05,encore06,encore08,encore09,encore10,...,unknown391,unknown392,unknown393,unknown394,unknown395,unknown396,unknown397,unknown398,unknown399,unknown400
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,4.0,5.0,5.0,0.0,4.0,5.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_matrix2= df_matrix.copy()
df_matrix2['title']=df_matrix['title'].astype(int)
df_matrix2.head()

,title,encore01,encore02,encore03,encore04,encore05,encore06,encore08,encore09,encore10,...,unknown391,unknown392,unknown393,unknown394,unknown395,unknown396,unknown397,unknown398,unknown399,unknown400
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,4.0,5.0,5.0,0.0,4.0,5.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# 유틸리티행렬 pickle 저장
file = df_matrix2
directory = open('utilitymatrix', 'wb')
pickle.dump(file, directory)
directory.close()

In [12]:
title_name = list(df02['title'].unique())
#user_name = sorted(user_name, key = str)
title_name = pd.DataFrame(title_name)
title_name.columns = ['title_name']

# user_name pickle 저장
file_user = title_name
directory_user = open('title_name', 'wb')
pickle.dump(file_user, directory_user)
directory_user.close()

In [13]:
# pickle로 저장한 유틸리티 행렬 DATA LOAD
f = open('utilitymatrix', 'rb')
utilitymatrix = pickle.load(f)

df2 = utilitymatrix
df2.head()

,title,encore01,encore02,encore03,encore04,encore05,encore06,encore08,encore09,encore10,...,unknown391,unknown392,unknown393,unknown394,unknown395,unknown396,unknown397,unknown398,unknown399,unknown400
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,4.0,5.0,5.0,0.0,4.0,5.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_concat = pd.concat([title_name, df_matrix2], axis = 1)
df_concat.head()

,title_name,title,encore01,encore02,encore03,encore04,encore05,encore06,encore08,encore09,...,unknown391,unknown392,unknown393,unknown394,unknown395,unknown396,unknown397,unknown398,unknown399,unknown400
0,완득이,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"스물아홉 생일, 1년 후 죽기로 결심했다",1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,청소부 밥,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,말의 품격,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,5.0,5.0,0.0,4.0,5.0,0.0
4,예감은 틀리지 않는다,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

### Cosine Similarity

In [15]:
def cosine_similarity(data_name):    
    from sklearn.metrics.pairwise import cosine_distances
    similarity = 1 - cosine_distances(data_name)    # sklearn은 정의와 반대이므로 1에서 빼준다.
    return similarity

cos_sim = cosine_similarity(df_matrix2)    # data set으로 df_matrix2를 넣음
print(cos_sim.shape)
cos_sim

(1087, 1087)

array([[1.        , 0.06585118, 0.15845914, ..., 0.00133819, 0.00172425,
        0.00508   ],
       [0.06585118, 1.        , 0.202393  , ..., 0.07868797, 0.0779558 ,
        0.07902806],
       [0.15845914, 0.202393  , 1.        , ..., 0.09022845, 0.09008173,
        0.09111053],
       ...,
       [0.00133819, 0.07868797, 0.09022845, ..., 1.        , 0.99981567,
        0.99973906],
       [0.00172425, 0.0779558 , 0.09008173, ..., 0.99981567, 1.        ,
        0.99977042],
       [0.00508   , 0.07902806, 0.09111053, ..., 0.99973906, 0.99977042,
        1.        ]])

In [16]:
class Basic(object):
    
    def __init__(self, title_name, neigh_num):
        self.title_name = title_name
        self.neigh_num = neigh_num
    
    """도서명이 들어오면 도서 라벨링으로 변환"""
    def convert_title_num(self):
        
        title_name_list = list(df_concat['title_name'].unique())
        
        for num in range(len(title_name_list)):
            if title_name_list[num] == self.title_name:
                title_num = num
        
        return title_num
    
    
    """target 도서와 유사한 도서 K권을 찾고, cosine 유사도를 이용하여 거리를 구한다"""
    def find_near_neighbor(self):
    
        from sklearn.neighbors import NearestNeighbors
        
        title_num = Basic.convert_title_num(self)
            
        # n_neighbors에는 본인이 포함되기 때문에 +1을 해준다.
        KNN = NearestNeighbors(n_neighbors = self.neigh_num, metric = 'cosine')    
        KNN.fit(df_matrix2)    # data set은 utility matrix인 df를 사용
        similar_distance, similar_users = KNN.kneighbors(df_matrix2)
    
        similars = {}    #유사한 유저와 거리를 dict형식으로 저장
    
        # 유사한 도서
        similar_users = similar_users[title_num][1:]
        similars['sim_users'] = list(similar_users)
    
        # 유사한 도서들과의 거리
        similar_distance = similar_distance[title_num][1:]
        similars['sim_distance'] = similar_distance
    
        return similars
    
    
    """target 도서 + 유사한 도서 K권으로 이루어진 새로운 data frame 형성하고,
       narray 형식으로 반환"""
    def near_neighbors_narray(self):
    
        similars = Basic.find_near_neighbor(self)
        similiar_users_list = similars['sim_users']
        similiar_distances = similars['sim_distance']

        columns = list(df_matrix2.columns)
        new_df = pd.DataFrame(columns = columns)
    
        for i in range(len(similiar_users_list)):
        
            def concat_row(i):
                neighbor_df = df_matrix2[df_matrix2['title'] == similiar_users_list[i]]
                return neighbor_df
        
            neighbor_df = pd.concat([new_df, concat_row(i)])
            new_df = neighbor_df
            
        narray = new_df.values
        narray = narray[:, 1:]
        
        return narray

In [17]:
book1 = Basic('완득이', 15)

In [18]:
print(book1.convert_title_num())

0

In [19]:
book1.find_near_neighbor()

{'sim_users': [5, 3, 14, 46, 27, 17, 2, 7, 26, 22, 19, 24, 4, 58],
 'sim_distance': array([0.72907274, 0.78291522, 0.81586428, 0.81689601, 0.81864719,
        0.84149607, 0.84154086, 0.84458882, 0.85155888, 0.85376884,
        0.85678898, 0.86572488, 0.87802449, 0.88069047])}

In [62]:
book1.near_neighbors_narray()

array([[0.0, 5.0, 3.5, ..., 0.0, 0.0, 3.0],
       [0.0, 0.0, 0.0, ..., 4.0, 5.0, 0.0],
       [5.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [20]:
class Calculation_rating(Basic):
    
    def __init__(self, title_name, neigh_num):
        Basic.__init__(self, title_name, neigh_num)
        
    """가중평균 값으로 도서에 대한 target 유저의 평점을 예측"""
    def predict_rating(self):
        
        narray = Basic.near_neighbors_narray(self)    #narray 받음
        similars = Basic.find_near_neighbor(self)
        
        similiar_distances = similars['sim_distance']
    
        rating_list = []    # 가중평균값을 담는 리스트
    
        # 범위 0 ~ K-1
        for col_num in range(narray.shape[1]):
        
            sum = 0
            rating = 0
            for i in range(1, len(narray[:, col_num])):
                 sum += float(narray[:, col_num][i]) * float(similiar_distances[i])
            rating = sum/similiar_distances.sum()
        
            if rating < 0:
                rating = 0    # 만약 가중평균값이 0보다 작으면 0점으로 함
            elif rating > 10:
                rating = 10    # 만약 가중평균값이 10보다 크면 10점으로 함
            else:
                rating = rating    # 평점은 정수형
            rating = round(rating, 1)
    
            rating_list.append(rating)

        return rating_list
        
    
    """target 유저의 평점을 리스트로 변환하는 함수"""
    def original_rating(self):
        
        book_num = Basic.convert_title_num(self)
    
        # target 유저의 평점을 narray로 변환
        #target_df = df02[df02['title'] == book_num]
        #target_df = df04[df04['title'] == book_num]
        target_df = df_concat[df_concat['title'] == book_num]
        target_narray = target_df.values
        target_narray = target_narray[:, 2:]    # user column 삭제
        
        target_narray = target_narray.tolist()[0]
        
      
        return target_narray

In [21]:
book01 = Calculation_rating('완득이', 15)

In [22]:
len(book01.original_rating())

435

In [23]:
print(book01.predict_rating())

[1.0, 0.0, 0.2, 0.0, 0.4, 0.2, 0.2, 0.0, 0.5, 0.2, 1.0, 0.3, 0.6, 0.0, 0.0, 0.7, 0.0, 0.6, 0.3, 0.0, 0.7, 0.0, 0.0, 0.2, 0.5, 0.3, 0.3, 0.0, 0.5, 0.0, 0.5, 0.4, 0.5, 0.3, 0.4, 0.0, 1.2, 0.0, 0.0, 0.0, 0.3, 0.0, 0.6, 0.0, 0.0, 0.0, 0.3, 0.0, 0.2, 0.0, 0.0, 0.0, 0.0, 0.2, 0.1, 0.0, 0.0, 0.2, 0.0, 0.0, 0.6, 0.8, 0.3, 0.7, 0.0, 0.0, 0.0, 0.3, 0.3, 0.4, 0.0, 0.6, 0.0, 0.3, 0.3, 0.7, 0.6, 0.3, 0.6, 0.5, 0.2, 0.6, 0.0, 0.0, 0.7, 0.0, 0.3, 0.3, 0.9, 0.0, 1.0, 0.5, 0.6, 0.3, 0.3, 1.3, 0.0, 0.0, 0.2, 0.4, 0.4, 0.5, 0.5, 0.4, 0.0, 0.5, 0.0, 0.0, 0.0, 0.0, 0.3, 0.0, 0.5, 0.0, 0.0, 0.0, 0.7, 0.4, 0.0, 0.3, 0.4, 0.0, 0.3, 0.0, 0.6, 0.3, 0.0, 0.0, 0.0, 0.3, 1.5, 0.0, 0.6, 0.7, 0.7, 1.1, 0.0, 0.3, 0.0, 0.0, 1.6, 0.0, 0.0, 2.2, 0.6, 0.6, 1.3, 0.5, 0.4, 0.8, 1.6, 0.6, 0.0, 0.3, 1.2, 0.6, 0.0, 0.0, 1.0, 0.5, 0.3, 0.6, 0.3, 0.6, 1.2, 1.1, 0.0, 1.0, 0.0, 0.3, 0.2, 0.3, 0.2, 0.2, 0.2, 0.0, 0.0, 0.6, 0.0, 0.0, 0.0, 0.0, 0.3, 0.0, 0.3, 0.6, 0.3, 0.0, 0.6, 0.0, 0.6, 0.6, 0.0, 0.0, 0.0, 0.5, 0.0, 0.6, 0.0, 0.3, 0.0, 0.0, 0.5, 0.5, 0.3, 0.0, 0.0, 0.0, 0.3, 0.7, 0.0, 0.0, 0.3, 0.0, 0.4, 0.3, 0.2, 0.6, 0.5, 0.2, 0.3, 0.0, 0.3, 0.2, 0.0, 0.0, 0.2, 0.9, 1.0, 1.2, 0.0, 1.0, 0.6, 0.4, 1.0, 0.0, 0.0, 0.7, 0.3, 0.3, 1.0, 0.6, 0.2, 0.7, 0.0, 0.0, 0.7, 0.3, 1.3, 1.1, 0.3, 0.5, 0.0, 0.4, 0.2, 0.9, 0.8, 1.1, 0.0, 0.6, 1.3, 0.3, 0.4, 0.6, 0.6, 0.3, 0.7, 0.8, 0.3, 1.2, 0.3, 0.8, 0.3, 1.3, 0.7, 0.2, 0.6, 0.8, 1.3, 0.8, 0.2, 0.7, 0.9, 0.0, 0.5, 1.5, 0.9, 0.0, 0.3, 0.0, 1.2, 0.4, 0.0, 0.3, 0.0, 0.3, 0.9, 0.7, 0.9, 0.8, 0.3, 0.7, 1.6, 0.8, 0.8, 1.1, 1.7, 0.8, 0.2, 1.9, 0.8, 0.4, 0.0, 1.3, 0.6, 1.1, 0.3, 1.2, 2.1, 2.4, 1.4, 0.3, 1.6, 2.3, 1.6, 2.5, 2.4, 2.1, 0.6, 0.2, 1.4, 0.3, 0.0, 0.2, 1.1, 1.0, 0.8, 1.9, 0.0, 0.5, 0.5, 0.0, 0.8, 0.3, 0.3, 0.3, 1.6, 1.4, 0.6, 0.6, 0.2, 0.5, 1.1, 0.5, 2.0, 0.3, 0.3, 0.9, 0.8, 0.3, 0.2, 1.1, 0.7, 1.2, 0.8, 1.1, 0.3, 0.5, 1.4, 1.5, 0.0, 0.3, 0.0, 0.3, 0.9, 1.8, 0.8, 0.0, 0.6, 0.0, 0.6, 0.0, 0.3, 0.0, 0.3, 0.8, 0.0, 1.0, 0.8, 1.2, 0.3, 0.5, 0.0, 0.0, 0.8, 1.0, 0.0, 0.7, 0.3, 1.3, 0.4, 0.6, 1.2, 0.0, 0.4, 0.3, 0.0, 0.4, 0.5, 0.0, 0.3, 0.3, 0.1, 0.5, 0.7, 0.0, 1.6, 0.6, 0.3, 1.2, 0.3, 0.3, 0.6, 0.3, 0.3, 0.3, 0.0, 0.3, 0.9, 0.8, 0.8, 0.0, 0.3, 0.3, 0.4]

### 성능 평가

In [463]:
# MSE를 이용한 성능평가 함수
def evaluation(neigh_num):
    
    from sklearn.metrics import mean_squared_error
    
    neigh_num = neigh_num
    rmse = 0
    title_name_list = list(df_concat['title_name'].unique())
    
    for title_name in title_name_list:
        
        cal = Calculation_rating(title_name, neigh_num)
        predict_list = cal.predict_rating()
        original_list = cal.original_rating()
        rmse_onebyone = mean_squared_error(original_list, predict_list)
        
        rmse += rmse_onebyone
        
    rmse = rmse/len(title_name_list)

    return print('이웃 책의 수가 {}일때, MSE 값은 {}입니다.'.format(neigh_num-1, rmse))

In [32]:
%%time
neigh_num = [21, 41, 61]    # 이웃의 수가 20명, 40명, 60명이 됨
for num in neigh_num:
    evaluation(num)

이웃 책의 수가 20일때, MSE 값은 0.6821953071302429입니다.
이웃 책의 수가 40일때, MSE 값은 0.7010070107540521입니다.
이웃 책의 수가 60일때, MSE 값은 0.7185310831244899입니다.
Wall time: 30min 6s

#### 유저-도서 평점 예측 행렬 만들기

In [24]:
#사용자별 predict 함수 행렬 만들기
book_name = df_concat['title_name']
cal_list = []
for i in range(len(df_concat)):
    book = Calculation_rating(book_name[i], 15)
    cal_list.append(book)

In [25]:
predict_list = []
for i in range(len(cal_list)):
    book = cal_list[i].predict_rating()
    predict_list.append(book)

In [26]:
predict = pd.DataFrame(predict_list)

In [27]:
# 유저-도서 평점 예측 행렬
predict.head()

,0,1,2,3,4,5,6,7,8,9,...,425,426,427,428,429,430,431,432,433,434
0,1.0,0.0,0.2,0.0,0.4,0.2,0.2,0.0,0.5,0.2,...,0.3,0.0,0.3,0.9,0.8,0.8,0.0,0.3,0.3,0.4
1,0.7,0.3,0.2,0.3,0.4,0.2,0.4,0.0,0.7,0.3,...,0.0,0.0,0.3,1.5,0.6,0.6,0.0,0.3,0.3,0.4
2,0.3,0.4,0.2,0.0,0.3,0.5,0.2,0.0,1.0,0.2,...,0.7,0.0,0.3,0.6,0.2,0.2,0.0,0.5,0.0,0.5
3,1.0,0.0,0.2,0.0,0.4,0.2,0.2,0.0,0.2,0.2,...,0.3,0.0,0.3,0.7,0.4,0.4,0.0,0.0,0.0,0.4
4,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.4,1.5,0.0,0.0,0.0,0.1,0.0,0.0

#### 유저-도서 원래 평점 행렬(인덱스, 컬럼 reset)

In [28]:
df_matrix3 = df_matrix2.copy()

In [29]:
df_matrix4 = df_matrix3.drop(columns = ['title'])

In [30]:
df_matrix5 = df_matrix4.rename(columns={x:y for x,y in zip(df_matrix4.columns,range(0,len(df_matrix.columns)))})

In [31]:
original = df_matrix5.copy()

In [32]:
original.head()

,0,1,2,3,4,5,6,7,8,9,...,425,426,427,428,429,430,431,432,433,434
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,0.0,0.0,4.0,5.0,5.0,0.0,4.0,5.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

### 도서 추천1
예상 평점이 2점 이상인 도서를

In [225]:
class IBCF(object):
    def __init__(self, user_name):
        self.user_name = user_name
    
    def name_to_num(self):
        user_name_list = list(df02['user'].unique())
        
        for num in range(len(user_name_list)):
            if user_name_list[num] == self.user_name:
                user_num = num
        return user_num
    
    def recommend_book_list(self):
        user_num = IBCF.name_to_num(self)
        
        temp_list = []

        for i in range(len(predict[user_num])):
            if original[user_num][i] != 0:
                temp_list.append(0)
            else:
                temp_list.append(predict[user_num][i])
                
         # 예상 평점이 2점 이상인 도서만 선택하여 index를 추천 리스트에 담는다.
        recommend_list_index =[]
        for i in range(len(temp_list)):
            if temp_list[i] >= 2:
                recommend_list_index.append(i)
        
         # recommend_list_index로 부터 도서 제목을 str로 저장
        recommend_list_str = []
        for i in recommend_list_index:
            recommend_list_str.append(df_concat['title_name'][i])
            
        """전체 도서 리스트에서 target 유저가 이미 평가한 도서를 제거"""
        already_rating_book_num = [i for i in range(len(temp_list)) if temp_list[i] == 0]
        user_book_list = [df_concat['title_name'][i] for i in range(len(df_concat['title_name'])) if i not in already_rating_book_num]


        final_dict = {}
        final_dict['by_rating'] = recommend_list_str
        final_dict['by_delete'] = user_book_list

        return final_dict 
    
        """도서 추천 실행 함수"""
    def recommendation(self):
        user_list = df02['user'].unique().tolist()
        user_number = IBCF.name_to_num(self)
        book_dict = IBCF.recommend_book_list(self)
        
        by_rating_list = book_dict['by_rating']
        by_delete_list = book_dict['by_delete']
        
        user_name = user_list[user_number]    # user number를 user의 아이디로 변경
        
        # 총 10권의 책을 추천하는데 만약 추천 리스트가 n권 이상이라면 
        # 가중평균 리스트에서 n권의 도서를(최대 10권) 도서를 추천리스트에서 추천
        # 추천 리스트가 10권보다 작을 경우, 그렇지 않으면 유저가 이미 평가했던 도서를 제외한 도서 리스트에서 10-n권의 도서 추천
        
        if len(by_rating_list) >= 10:
            recommendation_selection = random.sample(by_rating_list, 10)
         
            
        else:
            recommendation_selection1 = random.sample(by_rating_list, len(by_rating_list))
            recommendation_selection2 = random.sample(by_delete_list, 10- len(by_rating_list))
            recommendation_selection = recommendation_selection1 + recommendation_selection2
        
    
        print('{}님을 위한 추천 도서입니다.'.format(user_name))
        return print(recommendation_selection)

In [226]:
user01 = IBCF('encore77')

In [227]:
user01.recommendation()

encore77님을 위한 추천 도서입니다.
['카산드라의 거울', '다이어터 2 : 운동적응기 편', '혼자 있는 시간의 힘', '얼굴 빨개지는 아이', '언더그라운드', '성공하는 사람들의 7가지 습관', '안철수의 생각', '나무', '카케구루이', '우리들의 일그러진 영웅']

In [228]:
user02 = IBCF('encore16')

In [229]:
user02.recommendation()

encore16님을 위한 추천 도서입니다.
['모든 요일의 기록', '설민석의 조선왕조실록', '이클립스', '백설공주에게 죽음을', '등대지기', '그해, 여름 손님', '다이어터 2 : 운동적응기 편', '1만 시간의 법칙', '꺼삐딴 리', '20세기 소년']

In [230]:
user03 = IBCF('encore21')

###  도서추천2
예상 평점이 가장 높은 도서 10권 추천

In [ ]:
class IBCF2(object):
    def __init__(self, user_name):
        self.user_name = user_name
    
    def name_to_num(self):
        user_name_list = list(df02['user'].unique())
        
        for num in range(len(user_name_list)):
            if user_name_list[num] == self.user_name:
                user_num = num
        return user_num
    
    def recommend_book_list(self):
        user_num = IBCF.name_to_num(self)
        
        temp_list = []

        for i in range(len(predict[user_num])):
            if original[user_num][i] != 0:
                temp_list.append(0)
            else:
                temp_list.append(predict[user_num][i])
        
        
        tempDf = pd.DataFrame(temp_list)
        sort_temp = tempDf.sort_values(0, ascending = False).index[0:10]
       # return sort_temp
        
        # recommend_list_index로 부터 도서 제목을 str로 저장
        recommend_list_str = []
        for i in sort_temp:
            recommend_list_str.append(df_concat['title_name'][i])
        return recommend_list_str

In [231]:
user03.recommendation()

encore21님을 위한 추천 도서입니다.
['조선왕조실톡', '언젠가 기억에서 사라진다 해도', '말의 품격', '식객', '마시멜로 이야기', '향수', '신과 함께 : 저승편', '그리스인 조르바', '아Q정전', '그건, 사랑이었네']